<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Smellyriver.TankInspector.AppState" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Smellyriver.TankInspector.RunState" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Smellyriver.TankInspector.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Smellyriver.TankInspector.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <userSettings>
    <Smellyriver.TankInspector.AppState>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
    </Smellyriver.TankInspector.AppState>
    <Smellyriver.TankInspector.RunState>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviousUnvalidatedEmailAlertTime" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
    </Smellyriver.TankInspector.RunState>
    <Smellyriver.TankInspector.ApplicationSettings>
      <setting name="GamePathes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="PreviousDatabaseKeyHash" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousTankKey" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousTankGalleryPageKey" serializeAs="String">
        <value />
      </setting>
      <setting name="EMailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="SSAOEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SMAAEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CollisionModelStrokeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFPS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowModelTriangleCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WireframeMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpecularTextureEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NormalTextureEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoLoadEliteConfigEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoResetReferenceTankEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HangarShowTankDescription" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RecruitFullyTrainedCrews" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswordHash" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowPassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBackgroundImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TestShellCaliber" serializeAs="String">
        <value>88</value>
      </setting>
      <setting name="SniperModeDistance" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TelescopeZoomRate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AnisotropicFilterLevel" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="ShowSoftwareCrosshair" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainWindowX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>1280</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="MainWindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResetShellTypeOnChangingVehicle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RecruitNewCrewsOnChangingVehicle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearEquipmentsOnChangingVehicle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearConsumablesOnChangingVehicle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowDescriptionInDataTip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseRealTraverseSpeedOnTurretController" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAsMuchStatsAsPossible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhotoSize" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="TestShellType" serializeAs="String">
        <value>Ap</value>
      </setting>
    </Smellyriver.TankInspector.ApplicationSettings>
    <Smellyriver.TankInspector.Application>
      <setting name="GamePath" serializeAs="String">
        <value></value>
      </setting>
    </Smellyriver.TankInspector.Application>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="sti.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
</configuration>
